/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/*----------------------------------------------------------------------------*/
/* General */
/*----------------------------------------------------------------------------*/
html,
body{
    width: 90%;
    margin: 10px auto;
}


/*----------------------------------------------------------------------------*/
/* Layout */
/*----------------------------------------------------------------------------*/
.tab-content{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 15px;
}
/*----------------------------------------------------------------------------*/
/* Sidebar / Navigation */
/*----------------------------------------------------------------------------*/
.nav-tabs{
    margin-left: 20px;
    border-bottom: none;
}
/*----------------------------------------------------------------------------*/
/* Content */
/*----------------------------------------------------------------------------*/
.page-header{
    text-align: center;
}

.input-group{
    margin: 10px 0; 
}

.btn-group{
    margin-top: 10px;
}

.wrapper {
    margin-top: 20px;
}

textarea{
    resize: vertical;
}
/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Responsiv Layout Settings */
/* Center and adjust the sidebar contents on smaller devices. */
/*----------------------------------------------------------------------------*/
@media (max-width: 768px) {

}